.content {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input {
    border-style: solid;
    border-width: 0.25px;
    border-color: #000000;
}

.background {
    background-color: #3399ff;
}

.errorMessage {
    color: #ffb31a;
    font-weight: bold;
}